<p id="index-rb-1">
  Rataf est un <strong>collectif d'artistes</strong><br/>
  qui pratique les disciplines les plus variées.
</p>

<p id="index-rb-2">
  Sa vocation est de mettre au point<br/>
  des processus de production artistique inédits,<br/>
  praticables avec <strong>tous les publics</strong>.
</p>

<p id="index-rb-3">
  Cette démarche de création est proposée<br/>
  aux groupements et institutions<br/>
  qui cherchent à développer et valoriser
</p>

<p id="index-rb-4">
  les expressions singulières<br/>
  de tous les membres de la cité.
</p>
