<div id="idees-lb">

  <h1 class="title1"><span class="title1-article title1-article1">des</span> idées</h1>
  
  <p>
    Un art qui se fait<br/>
    <a href="/des-idees/un-art-avec-par-et-pour-tous">avec, par et pour tous</a>&nbsp;:<br/>
    un art pour notre époque de crises<br/>
    et de métamorphoses,<br/>
    qui a besoin de la créativité de chacun.
  </p>
  
  <p>
    Des <a href="/des-idees/une-moulinette-a-module">méthodes de création</a> originales,<br/>
    au croisement du spectacle vivant,<br/>
    des arts plastiques, de l'audiovisuel...
  </p>

</div>