<p>
  L'association s'appuie sur des intervenants aux compétences multiples et variées : vidéo, photo, théâtre, arts plastiques, écriture, musique, etc.<br/>
  <a href="/des-gens/clotilde-gaillard-foussard">Clotilde Gaillard-Foussard</a>, <a href="/des-gens/beriou">Bériou</a>, <a href="/des-gens/fany-g">Fany G</a>, <a href="/des-gens/leo-matteudi">Léo Matteudi</a>, <a href="/des-gens/sylvie-mantoan">Sylvie Mantoan</a>, <a href="/des-gens/maylene-cherigny">Maylène Chérigny</a>, etc.
</b>

<p>
  Liliane Truchot (présidente), Gratien Rukindikiza (trésorier) et Danielle Depaux (secrétaire et détentrice de la licence spectacle) forment l'ossature légale de l'association.
</p>

<h1>des gens</h1>