<div id="gens-lb">
  
  <h1 class="title1"><span class="title1-article title1-article2">des</span> <strong>gens</strong></h1>
  <br/>
  
  <p>
    L'association s'appuie sur des intervenants<br/>
    aux compétences multiples et variées&nbsp;:<br/>
    vidéo, photo, théâtre, arts plastiques,<br/>
    écriture, musique...<br/>
    <br/>
    <a href="/des-gens/clotilde-gaillard-foussard">Clotilde</a> Gaillard-Foussard • <a href="/des-gens/beriou">Bériou</a> • <a href="/des-gens/leo-matteudi">Léo</a> Matteudi<br/>
    <a href="/des-gens/fany-g">Fany</a> G • <a href="/des-gens/sylvie-mantoan">Sylvie</a> Mantoan • <a href="/des-gens/maylene-cherigny">Maylène</a> Chérigny...<br/>
    <br/>
    <strong>Liliane</strong> Truchot (présidente), <strong>Gratien</strong> Rukindikiza (trésorier)<br/>
    et <strong>Danielle</strong> Depaux (secrétaire et détentrice de la licence<br/>
    spectacle) forment l'ossature légale de l'association.
  </p>

</div>