<div id="gens-lb">
  
  <h1 class="title1"><span class="title1-article title1-article2">des</span> <strong>gens</strong></h1>
  
  <p>
    L'association s'appuie sur des intervenants<br/>
    aux compétences multiples et variées&nbsp;:<br/>
    vidéo, photo, théâtre, arts plastiques,<br/>
    écriture, musique...
  </p>
  
  <p>
    <a href="/des-gens/clotilde-gaillard-foussard">Clotilde</a> Gaillard-Foussard • <a href="/des-gens/beriou">Bériou</a> • <a href="/des-gens/leo-matteudi">Léo</a> Matteudi<br/>
    <a href="/des-gens/fany-g">Fany</a> G • Sylvie Mantoan • <a href="/des-gens/marylene-cherigny">Marylène</a> Chérigny...
  </p>
  
  <p>
    Alan Aupetitgendre (président),<br/>
    Gratien Rukindikiza (trésorier)<br/>
    et Jean-François Matteudi (secrétaire)<br/>
    forment l'ossature légale de l'association.
  </p>

</div>