<div id="actions-lb">

  <h1 class="title1"><span class="title1-article title1-article3a">des</span> <strong>actions</strong>&nbsp;&nbsp;et<br/><span class="title1-article title1-article3b">des</span> <strong>réalisations</strong></h1>

  <p>
    Une <a href="/des-actions-et-des-realisations/des-vies-s-exposent">expo</a> d’histoires de vie,<br/>
    des handicapés qui <a href="/des-actions-et-des-realisations/certains-pantomiment-d-autres-se-racontent">pantomiment</a>,<br/>
    des lycéens qui se <a href="/des-actions-et-des-realisations/les-lyceens-se-mettent-en-scene">mettent en scène</a>,<br/>
    de l’art <a href="/des-actions-et-des-realisations/art-buissonnier">buissonnier</a>, des <a href="/des-actions-et-des-realisations/expressions-d-enfants">romans-photos</a> d’enfants,<br/>
    des <a href="/des-actions-et-des-realisations/tous-les-habitants-d-un-territoire">fresques photos</a> avec tous les habitants d’un territoire,<br/>
    des personnes qui renaissent grâce au <a href="/des-actions-et-des-realisations/des-personnes-qui-renaissent-grace-au-theatre">théâtre</a>,<br/>
    des <a href="/des-actions-et-des-realisations/portraits-clipes">portraits clipés</a>, des <a href="/des-actions-et-des-realisations/un-peu-de-fiction">fictions</a>, des <a href="/des-actions-et-des-realisations/et-meme-des-films-documentaires">documentaires</a>,<br/>
    des <a href="/des-actions-et-des-realisations/tous-les-habitants-d-un-territoire">portraits</a> chez Emmaüs,<br/>
    des étrangers qui <a href="/des-actions-et-des-realisations/certains-pantomiment-d-autres-se-racontent">racontent</a> leur intégration,<br/>
    des <a href="/des-actions-et-des-realisations/d-autres-continents">personnages</a> d’autres continents...<br/>
    <br/>
    ...c’est tout cela que réalise l’équipe Rataf&nbsp;!
  </p>
  
</div>