<div id="actions-lb">

  <h1 class="title1"><span class="title1-article title1-article3a">des</span> <strong>actions</strong>&nbsp;&nbsp;et<br/><span class="title1-article title1-article3b">des</span> <strong>réalisations</strong></h1>

  <p>
    <a href="/des-actions-et-des-realisations/des-personnes-qui-renaissent-grace-au-theatre">Des personnes qui renaissent grâce au théâtre,</a><br/>
    des fresques photos avec tous les habitants d’un territoire,<br/>
    une expo d’histoires de vie,<br/>
    des portraits clipés,<br/>
    des handicapés qui pantomiment,<br/>
    des romans-photos d’enfants,<br/>
    des étrangers qui racontent leur intégration,<br/>
    des portraits chez Emmaüs, de l’art buissonnier,<br/>
    des fictions, des documentaires,<br/>
    des lycéens qui se mettent en scène,<br/>
    des personnages d’autres continents,<br/>
    ...<br/>
    c’est tout cela que réalise l’équipe Rataf&nbsp;!
  </p>
  
</div>