<div id="lieu-lb">

  <h1 class="title1"><span class="title1-article title1-article4">un</span> <strong>lieu</strong></h1>

  <p>
    Depuis peu, Rataf réhabilite un lieu&nbsp;:<br/>
    «&nbsp;Le Lachat&nbsp;», situé en lisière <br/>
    du village de potiers des Archers,<br/>
    dans le bocage du sud Berry (Le Châtelet, Cher).<br/>
    > Voir le lieu sur <a href="/un-lieu/carte">Google Maps</a>.
  </p>

  <p>
    Le Lachat est une ancienne exploitation agricole,<br/>
    créée en 1945,<br/>
    avec <a href="/un-lieu/la-maison">maison</a> d’habitation, <a href="/un-lieu/la-grange">grange</a>, <a href="/un-lieu/les-ateliers">ateliers</a>...<br/>
    sur plus de <a href="/un-lieu/les-terrains">deux hectares</a>.
  </p>

  <p>  
    Rataf entend y développer <a href="/un-lieu/des-spectacles">spectacles</a>, <a href="/un-lieu/des-expositions">expositions</a>,<br/>
    <a href="/un-lieu/des-residences">résidences</a>, <a href="/un-lieu/des-fetes">fêtes</a>, <a href="/un-lieu/des-stages-et-des-ateliers">stages et ateliers</a>.
  </p>

</div>
