<div id="site-lt">
  
  <a id="site-title" href="/"><img id="site-logo" src="/static/logo.png" alt="Logo Rataf"></a>
  <div id="site-subtitle">association</div>

	<div id="site-emailfb">
		<a id="site-email" href="/contact">{{ site.email }}</a>
		<a href="https://www.facebook.com/rataf.asso" target="_blank"><img id="facebook" src="/static/facebook.png" alt="facebook"></a>
	</div>


  <nav id="site-nav">
    <a id="site-nav-element-actions" class="title1 site-nav-element" href="/des-actions-et-des-realisations"><span class="title1-article title1-article3a">des</span> <strong>actions</strong>&nbsp;&nbsp;et<br/><span class="title1-article title1-article3b">des</span> <strong>réalisations</strong></a><br/>
    <a class="title1 site-nav-element" href="/un-lieu"><span class="title1-article title1-article4">un</span> <strong>lieu</strong></a><br/>
    <a class="title1 site-nav-element" href="/des-gens"><span class="title1-article title1-article2">des</span> <strong>gens</strong></a><br/>
    <a class="title1 site-nav-element" href="/des-idees"><span class="title1-article title1-article1">des</span> <strong>idées</strong></a>
  </nav>

</div>
