/* BASICS ************************************************/

$font: Arial, sans-serif;

$black: #000;
$grey: #999292;
$grey2: #ada6a6;
$grey3: #b9b5b5;
$white: #ddd;

$c_text: #343434;


html {
	background-color: $black;
	font-family: $font;
  font-size: 2vh;
  @media screen and (max-aspect-ratio: 4/3) {
    font-size: 1.5vw;
  }
}

p {
  line-height: 1.25rem;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}