#idees-lb {
  position: absolute;
  bottom: $spacer2;
  left: $spacer2;
  font-style: italic;
  a {
    color: $green2;
    text-decoration: underline;
  }
}

.idees-link {
  color: $green2;
  text-decoration: underline;
}