#gens-lb {
  position: absolute;
  bottom: $spacer1;
  left: $spacer1;
  font-style: italic;
  a {
    color: $yellow2;
    font-weight: bold;
  }
}

.gens-link {
  color: $yellow2;
  font-weight: bold;
}

.half-content-gens {
  font-size: 0.85rem;
}