---
layout: default
---

<div class="quarter quarter-rt">
  <div class="container">
  	{%- if page.arb == 'index' -%}
      {% include 0-index-rt.html %}
  	{%- endif -%}
    <img src="/static/imgq/imgq-rt-{{ page.arb }}.jpg" class="imgq imgq-rt">
  </div>
</div>

<div class="quarter quarter-rb">
  <div class="container">
  	{%- if page.arb == 'index' -%}
      {% include 0-index-rb.html %}
  	{%- endif -%}
      <img src="/static/imgq/imgq-rb-{{ page.arb }}.jpg" class="imgq imgq-rb">
  </div>
</div>