---
layout: default
---

<div class="quarter quarter-rt">
	{%- if page.arb == 'index' -%}
    {% include 0-index-rt.html %}
	{%- endif -%}
  <img src="/static/imgq/imgq-rt-{{ page.arb }}.jpg" class="imgq imgq-rt">
</div>

<div class="quarter quarter-rb">
  <div id="{{ page.ref }}-rb">
  	{%- if page.arb == 'index' -%}
      {%- if page.title -%}
        <h1 id="index-h1">{{ page.title }}</h2>
    	{%- endif -%}
      {{ content }}
  	{%- endif -%}
  </div>
  <img src="/static/imgq/imgq-rb-{{ page.ref }}.jpg" class="imgq imgq-rb">
</div>